go 1.21.0

use (
	./anagram
	./count_character
	./count_digits
	./fibonacci
	./fizzbuzz
	./matchinttotal
	./middleelement
	./non_matching_characters
	./palindrome
	./reverseslice
	./sortslice
	./string_reverse
	./vowelconsonant
)
